div.body {
  padding-left: 0;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.flex-sidebar {
  display: -webkit-flex;
  display: flex;
  width: 30%;
  height: 100vh;
  flex-wrap: wrap;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #6D7793;
}

.flex-page {
  display: -webkit-flex;
  display: flex;
  width: 70%;
  height: 100vh;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  background-color: #D5D5D5;
}

div.circle-photo img {
  width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
  margin-top: 10%;
}

div.name {
  margin-top: 5%;
}
h1.bold {
  font-weight: bold;
  text-decoration: underline;
  color: blue;
}

div.personal-info p.bigger {
  width: inherit;
  margin-top: 5%;
  text-align: left;

}

div.about {
  margin: 7% 7% 7% 7%;
  text-align: justify;
}


p.bigger {
  font-size: large;
}

.boldtext {
  font-weight: bold;
}

img.fb-icon {
  width: 50x;
  height: 50px;
}
