<nav class="main-navbar">
  <ul class="padding">
    <li class="padding"><a href="{{ "/index.html" | prepend: site.baseurl }}">Domov</a></li>
    <li class="padding"><a href="{{ "/myprofil.html" | prepend: site.baseurl }}">Profil</a></li>
    <li class="padding"><a href="{{ "/project.html" | prepend: site.baseurl }}">Moje projekty</a></li>
    <li class="padding"><a href="{{ "/wpub.html" | prepend: site.baseurl }}">Webové publikovanie</a></li>
    <li class="padding"><a href="{{ "/freetime.html" | prepend: site.baseurl }}">Voľnočasové aktivity</a></li>
  </ul>
</nav>
